h3 
  .pull-right
    .btn-group(dropdown='', is-open='language.listIsOpen')
      button.btn.btn-default(type='button', dropdown-toggle="")
        | {{language.selected}}
        span.caret
      ul.dropdown-menu.dropdown-menu-right.animated.fadeInUpShort(role='menu')
        li(ng-repeat='(localeId, langName) in language.available')
          a(ng-click='language.set(localeId, $event)') {{langName}}
  | {{'incidente.editarConsultor.titulo' | translate}}
  small {{'incidente.editarConsultor.tituloDescripcion' | translate}}
form(method='post',id='formCrearIncidente',name ='formCrearIncidente', validate-form='', novalidate='',ng-submit='guardar()' )
    .panel
      .panel-body
        h3.mt0 {{'incidente.editarConsultor.campos.id' | translate}} {{incidente.idIncidente}}
        hr
        .row.mb-lg
          .col-lg-8.col-xs-10.br.pv
            .row
              .col-md-8
                h4 {{'incidente.editarConsultor.campos.nombre' | translate}} 
                address
                | {{incidente.nombre}}
              .col-md-2
                h4  {{'incidente.editarConsultor.campos.sla' | translate}} 
                span.label.label-purple {{incidente.sla}} 
              .col-md-2
                h4  {{'incidente.editarConsultor.campos.slaTranscurrido' | translate}} 
                span.label.label-purple {{incidente.tiempoTranscurrido}} 
            .row
              .col-md-10
                h4  {{'incidente.editarConsultor.campos.descripcion' | translate}} 
                address
                | {{incidente.descripcion}}
            .row
              .col-md-3
                h4  {{'incidente.editarConsultor.campos.fechaCreacion' | translate}} 
                address
                | {{incidente.fechaCreacion | date:'MM/dd/yyyy h:mma'}}
              .col-md-3
                h4  {{'incidente.editarConsultor.campos.sistema' | translate}} 
                address
                | {{incidente.tipoIncidente.Nombre}}
              .col-md-3
                h4  {{'incidente.editarConsultor.campos.modulo' | translate}} 
                .form-group
                  select.form-control(ng-model="incidente.idSubTipoIncidente",required, data-parsley-error-message="{{'incidente.editarConsultor.campos.errorModulo' | translate}}",ng-options="item.SubTipoIncidenteId as item.Nombre  for item in listas.modulo")          
            .row
              .col-md-6
                h4  {{'incidente.editarConsultor.campos.estado' | translate}} 
                .form-group
                  select.form-control(ng-model="incidente.idEstado",required, data-parsley-error-message="{{'incidente.editarConsultor.campos.errorEstado' | translate}}",ng-options="item.estado.EstadoId as item.estado.Nombre for item in  listas.estados")          
                   option(value='') -- Seleccione Estado--
              .col-md-6(ng-show="incidente.idEstado==80")
                h4  {{'incidente.editarConsultor.campos.consultor' | translate}} 
                .form-group
                  select.input-sm(ng-model='incidente.idConsultor', name='consultor', ng-options='item.usuarioId as item.nombre for item in  listas.consultor',data-parsley-error-message="{{'incidente.editarConsultor.campos.errorConsultor' | translate}}")
                      option(value='') -- Seleccione Consultor--
            .row
              .col-md-6
                h4  {{'incidente.editarConsultor.campos.origenProblema' | translate}} 
                .form-group
                 select.input-sm(ng-model='incidente.idOrigenProblema', required='', name='origenProblema',data-parsley-error-message="{{'incidente.editarConsultor.campos.errorOrigenProblema' | translate}}", ng-options='item.OrigenProblemaId as item.Nombre  for item in listas.origenProblema')
                  option(value='') -- Seleccione Origen Problema --
              .col-md-6
                h4  {{'incidente.editarConsultor.campos.codigoTermino' | translate}} 
                .form-group
                  select.input-sm(ng-model='incidente.idCodigoTermino', name='codigoTermino', ng-options='item.CodigoTerminoId as item.Nombre for item in  listas.codigoTermino',data-parsley-error-message="{{'incidente.editarConsultor.campos.errorCodigoTermino' | translate}}", required='')
                   option(value='') -- Seleccione Codigo Termino --
            .row
             .col-md-12
               h4  {{'incidente.editarConsultor.campos.comentarioConsultor' | translate}} 
               .form-group
                 textarea.form-control(rows='4', ng-model='incidente.comentarioConsultor', name='comentario',required='',data-parsley-error-message="{{'incidente.editarConsultor.campos.errorComentarioConsultor' | translate}}")
            .row   
              .col-md-10
                h4  {{'incidente.editarConsultor.campos.tituloArchivo' | translate}}
                address
                  li.list-inline(ng-repeat='item in incidente.adjuntos')
                   a(href='api/adjunto/obtenerarchivo/{{item.AdjuntoId}}'){{item.Nombre}}
            .row
              .col-md-10
             .panel
               .panel-body
                h4.page-header.mt0 {{'incidente.crearIncidente.campos.tituloArchivo' | translate}}
                div(nv-file-drop='', uploader='uploader')
                  .box-placeholder.my-drop-zone(nv-file-over='', uploader='uploader', over-class='bg-purple')
                      | {{'incidente.crearIncidente.campos.descripcionArchivo' | translate}}
                // Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}"
                fieldset
                  p.lead.text-center(ng-if="!uploader.queue.length")  {{'incidente.crearIncidente.campos.mensajeArchivo' | translate}}
                  div(ng-if="uploader.queue.length")
                    table.table(ng-if="uploader.queue.length")
                      thead
                        tr
                          th(width='50%') {{'incidente.crearIncidente.campos.tabla.archivoNombre' | translate}}
                          th(ng-show='uploader.isHTML5') {{'incidente.crearIncidente.campos.tabla.archivoTamano' | translate}}
                          th(ng-show='uploader.isHTML5') {{'incidente.crearIncidente.campos.tabla.progreso' | translate}}
                          th {{'incidente.crearIncidente.campos.tabla.status' | translate}}
                          th {{'incidente.crearIncidente.campos.tabla.acciones' | translate}}
                      tbody
                        tr(ng-repeat='item in uploader.queue')
                          td
                            strong {{ item.file.name }}
                          td(ng-show='uploader.isHTML5', nowrap='') {{ item.file.size/1024/1024|number:2 }} MB
                          td(ng-show='uploader.isHTML5')
                            .progress.progress-xs(style='margin-bottom: 0;')
                              .progress-bar(role='progressbar', ng-style="{ 'width': item.progress + '%' }")
                          td.text-center
                            span(ng-show='item.isSuccess')
                              em.fa.fa-check.fa-fw
                            span(ng-show='item.isCancel')
                              em.fa.fa-ban-circle.fa-fw
                            span(ng-show='item.isError')
                              em.fa.fa-times.fa-fw
                          td(nowrap='')
                            button.btn.btn-danger.btn-xs(type='button', ng-click='item.remove()')
                              span.icon-trash.mr
                              |  {{'incidente.crearIncidente.campos.tabla.remover' | translate}}
          .col-lg-4.col-xs-4.br.pv
            .row
              .p-xl
                a.list-group-item(href='#')
                  .media-box
                    .pull-left
                      img.media-box-object.img-circle.thumb64(src="{{incidente.ku.foto}}", alt="Image")
                    .media-box-body.clearfix
                      small.pull-right 
                      strong.media-box-heading.text-primary {{'incidente.ver.campos.keyUser' | translate}} 
                        span.circle.circle-success.circle-lg.text-left
                    | {{incidente.ku.nombre}}
                  p.mb-sm: small {{incidente.ku.empresa}}
            .row(ng-show='incidente.idUsuarioConsultor >-1')
              .p-xl
                a.list-group-item(href='#')
                  .media-box
                    .pull-left
                      img.media-box-object.img-circle.thumb64(src="{{incidente.consultor.foto}}", alt="Image")
                    .media-box-body.clearfix
                      small.pull-right 
                      strong.media-box-heading.text-primary {{'incidente.ver.campos.consultor' | translate}} 
                        span.circle.circle-success.circle-lg.text-left
                    | {{incidente.consultor.nombre}}
                   p.mb-sm: small {{incidente.ku.empresa}}
        .row.mb-lg
          .col-lg-8.col-xs-10
            .panel.panel-default
              .panel-heading
                .panel-title {{'incidente.ver.campos.comentarios' | translate}}
              scrollable.list-group(height="450")
               a.list-group-item(ng-repeat='item in incidente.historial')
                .media-box
                  .pull-left
                    img.media-box-object.img-circle.thumb32(src='{{item.usuario.foto}}', alt="Image")
                  .media-box-body.clearfix
                    small.pull-right {{item.estado.Nombre}} {{item.fechaCreacion | date:'MM/dd/yyyy h:mma'}}
                    strong.media-box-heading.text-primary 
                      span.circle.circle-success.circle-lg.text-left
                      | {{item.usuario.nombre}}
                    p.mb-sm: {{item.comentarios}}
             
      .panel-footer
       fieldset
        .pull-right
          .form-group
            .col-lg-offset-2.col-lg-10
               button.btn.btn-primary(type='submit') {{'incidente.editarConsultor.botones.actualizar' | translate}}
 script(type="text/ng-template", id="dialogWithNestedConfirmDialogId2")
    .ngdialog-message
      h3.mt0 {{'incidente.editarConsultor.mensajeExito' | translate}} N° {{incidente.idIncidente}}
      p
        | {{'incidente.editarConsultor.mensajeDetalle' | translate}}
      button.btn.btn-primary(type='button', ng-click="confirm(1)") Ok            