<h3>
   <div class="pull-right">
      <div dropdown="" is-open="language.listIsOpen" class="btn-group">
         <button type="button" dropdown-toggle="" class="btn btn-default">{{language.selected}}
            <span class="caret"></span>
         </button>
         <ul role="menu" class="dropdown-menu dropdown-menu-right animated fadeInUpShort">
            <li ng-repeat="(localeId, langName) in language.available"><a ng-click="language.set(localeId, $event)">{{langName}}</a>
            </li>
         </ul>
      </div>
   </div>{{'incidente.tomarIncidente.titulo' | translate}}
   <small>{{'incidente.tomarIncidente.tituloDescripcion' | translate}}</small>
</h3>
<div class="panel">
   <div class="panel-body">
      <button type="button" ng-click="tomarIncidente(incidente.idIncidente)" class="pull-right btn btn-primary btn-sm">{{'incidente.tomarIncidente.botones.tomarIncidente' | translate}}</button>
      <h3 class="mt0">{{'incidente.tomarIncidente.campos.id' | translate}} {{incidente.idIncidente}}</h3>
      <hr/>
      <div class="row mb-lg">
         <div class="col-lg-8 col-xs-10 br pv">
            <div class="row">
               <div class="col-md-10">
                  <h4>{{'incidente.tomarIncidente.campos.nombre' | translate}}</h4>
                  <address></address>{{incidente.nombre}}</div>
            </div>
            <div class="row">
               <div class="col-md-10">
                  <h4>{{'incidente.tomarIncidente.campos.descripcion' | translate}}</h4>
                  <address></address>{{incidente.descripcion}}</div>
            </div>
            <div class="row">
               <div class="col-md-3">
                  <h4>{{'incidente.tomarIncidente.campos.fechaCreacion' | translate}}</h4>
                  <address></address>{{incidente.fechaCreacion | date:'MM/dd/yyyy h:mma'}}</div>
               <div class="col-md-3">
                  <h4>{{'incidente.tomarIncidente.campos.sistema' | translate}}</h4>
                  <address></address>{{incidente.tipoIncidente.Nombre}}</div>
               <div class="col-md-3">
                  <h4>{{'incidente.tomarIncidente.campos.modulo' | translate}}</h4>
                  <address></address>{{incidente.subtipoincidente.Nombre}}</div>
            </div>
            <div class="row">
               <div class="col-md-6">
                  <h4>{{'incidente.tomarIncidente.campos.estado' | translate}}</h4>
                  <address></address>{{incidente.estado.Nombre}}</div>
               <div class="col-md-6">
                  <h4>{{'incidente.tomarIncidente.campos.sla' | translate}}</h4>
                  <address></address>{{incidente.sla}}</div>
            </div>
            <div class="row"></div>
            <div class="col-md-10">
               <h4>{{'incidente.tomarIncidente.campos.tituloArchivo' | translate}}</h4>
               <address>
                  <li ng-repeat="item in incidente.adjuntos" class="list-inline"><a href="api/adjunto/obtenerarchivo/{{item.AdjuntoId}}">{{item.Nombre}}</a>
                  </li>
               </address>
            </div>
         </div>
         <div class="col-lg-2 col-xs-2 br pv">
            <div class="row">
               <div class="p-xl text-center">
                  <h3 class="m0">{{'incidente.tomarIncidente.campos.keyUser' | translate}}</h3>
                  <img src="{{incidente.ku.foto}}" alt="Image" class="img-thumbnail img-circle thumb64" />
                  <h4>{{incidente.ku.nombre}}</h4>
                  <p>Lead director</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>