h3
    .pull-right
        .btn-group(dropdown='', is-open='language.listIsOpen')
            button.btn.btn-default(type='button', dropdown-toggle="")
                | {{language.selected}}
                span.caret
            ul.dropdown-menu.dropdown-menu-right.animated.fadeInUpShort(role='menu')
                li(ng-repeat='(localeId, langName) in language.available')
                    a(ng-click='language.set(localeId, $event)') {{langName}}
    | {{'proyecto.aprobarIniciativa.titulo' | translate}}
    small {{'proyecto.aprobarIniciativa.tituloDescripcion' | translate}}
.panel
    .panel-body
        h3.mt0 {{'proyecto.aprobarIniciativa.campos.id' | translate}} {{proyecto.idProyecto}}
        hr
        .row.mb-lg
            .col-lg-12.col-xs-12.br.pv
                .row
                    .col-md-12
                        h4 {{'proyecto.aprobarIniciativa.campos.titulo' | translate}}
                        address
                        | {{proyecto.nombre}}

                .row
                    .col-md-3
                        h4  {{'proyecto.aprobarIniciativa.campos.fechaCreacion' | translate}}
                        address
                        | {{proyecto.fechaCreacion | date:'MM/dd/yyyy h:mma'}}
                    .col-md-5
                        h4  {{'proyecto.aprobarIniciativa.campos.empresa' | translate}}
                        address
                        | {{proyecto.empresa.nombre}}
                    .col-md-3
                        h4  {{'proyecto.aprobarIniciativa.campos.departamento' | translate}}
                        address
                        | {{proyecto.departamento.nombre}}
                .row
                    .col-md-12
                        h4  {{'proyecto.aprobarIniciativa.campos.resumenEjecutivo' | translate}}
                        address
                            | {{proyecto.resumenEjecutivo}}
                .row
                    .col-md-3
                        h4  {{'proyecto.aprobarIniciativa.campos.aprobacion' | translate}}
                        form-group
                            select.form-control(ng-model="proyecto.idEstadoProyecto",required, data-parsley-error-message="{{'proyecto.aprobarIniciativa.campos.errorEstado' | translate}}",ng-options="item.idEstadoProyecto as item.nombre for item in  listas.estadoProyecto")
                                option(value='') -- Seleccione Estado--
                    .col-md-4
                    .col-md-3
                        h4  {{'proyecto.aprobarIniciativa.campos.jp' | translate}}
                        form-group
                            select.form-control(ng-model="proyecto.idJefeProyecto",required, data-parsley-error-message="{{'proyecto.aprobarIniciativa.campos.errorJp' | translate}}",ng-options="item.usuario.usuarioId as item.usuario.nombre for item in  listas.jefeProyecto")
                                option(value='') -- Seleccione Jefe Proyecto--
    .panel-footer
        fieldset
            .pull-right
                .form-group
                    .col-lg-offset-2.col-lg-10
                        button.btn.btn-primary(type='button',ng-click='actualizar()') {{'proyecto.aprobarIniciativa.botones.actualizar' | translate}}