h3
    .pull-right
        .btn-group(dropdown='', is-open='language.listIsOpen')
            button.btn.btn-default(type='button', dropdown-toggle="")
                | {{language.selected}}
                span.caret
            ul.dropdown-menu.dropdown-menu-right.animated.fadeInUpShort(role='menu')
                li(ng-repeat='(localeId, langName) in language.available')
                    a(ng-click='language.set(localeId, $event)') {{langName}}
    | {{'proyecto.verProyecto.titulo' | translate}}
    small {{'proyecto.verProyecto.tituloDescripcion' | translate}}
.panel.panel-default
    .panel-body
        h1.lead.text-muted.text-center {{proyecto.nombre}}
        hr
        fieldset
                        .panel.panel-info
                            .panel-heading
                                h4 {{'proyecto.preEvaluacion.datosGenerales' | translate}}
                            .panel-body
                                .col-md-3
                                    h4.lead.text-muted {{'proyecto.verProyecto.campos.fechaCreacion' | translate}}
                                    span.lead.text-muted
                                    | {{proyecto.fechaCreacion | date:'MM/dd/yyyy h:mma'}}
                                .col-md-5
                                    h4.lead.text-muted  {{'proyecto.verProyecto.campos.empresa' | translate}}
                                    span.lead.text-muted
                                    | {{proyecto.empresa.nombre}}
                                .col-md-3
                                    h4.lead.text-muted {{'proyecto.verProyecto.campos.departamento' | translate}}
                                    span
                                    | {{proyecto.departamento.nombre}}
                            fieldset
                                .col-md-12
                                    h4.lead.text-muted  {{'proyecto.verProyecto.campos.resumenEjecutivo' | translate}}
                                    span
                                        | {{proyecto.resumenEjecutivo}}
                            fieldset
                                .col-md-3
                                    h4.lead.text-muted  {{'proyecto.verProyecto.campos.estado' | translate}}
                                    span
                                        | {{proyecto.estadoProyecto.nombre}}
                                .col-md-3
                                    h4.lead.text-muted  {{'proyecto.verProyecto.campos.etapa' | translate}}
                                    span
                                        | {{proyecto.etapa.nombre}}
                                .col-md-3
                                    h4.lead.text-muted  {{'proyecto.verProyecto.campos.bp' | translate}}
                                    span
                                        | {{proyecto.usuarioBp.nombre}}
                                .col-md-3
                                    h4.lead.text-muted  {{'proyecto.verProyecto.campos.jp' | translate}}
                                    span
                                        | {{proyecto.jefeProyecto.nombre}}







        fieldset
            .panel.panel-info
                .panel-heading
                    h4 {{'proyecto.verProyecto.especificacion' | translate}}
                .panel-body
                    fieldset
                        .col-sm-4
                            h4.lead.text-muted
                                | {{'proyecto.verProyecto.campos.fechaEstimada' | translate}}
                            span
                                |    {{proyecto.fechaEstimadaComienzo | date:'MM/dd/yyyy h:mma'}}
                        .col-sm-4
                            h4.lead.text-muted
                                | {{'proyecto.verProyecto.campos.duracion' | translate}}
                            span
                                |    {{proyecto.duracionSemana}}
                    fieldset
                        .col-sm-4
                            h4.lead.text-muted
                                | {{'proyecto.verProyecto.campos.tipoProyecto' | translate}}
                            span
                                | {{proyecto.tProyecto.nombre}}
                        .col-sm-4
                            h4.lead.text-muted
                                | {{'proyecto.verProyecto.campos.complejidad' | translate}}
                            span
                                |    {{proyecto.complejidad.nombre}}
        fieldset
            .panel.panel-info
                .panel-heading
                    h4 {{'proyecto.verProyecto.datosEconomicos' | translate}}
                .panel-body
                    fieldset
                        .col-sm-4
                                h4.lead.text-muted
                                    | {{'proyecto.verProyecto.campos.costoOneOff' | translate}}
                                span
                                    | {{proyecto.costoOneOff}}
                        .col-sm-4
                                h4.lead.text-muted
                                    | {{'proyecto.verProyecto.campos.costoOnGoing' | translate}}
                                span
                                    | {{proyecto.costoOnGoing}}
                        .col-sm-4
                                h4.lead.text-muted
                                    | {{'proyecto.verProyecto.campos.beneficios' | translate}}
                                span
                                    | {{proyecto.beneficios}}
                    fieldset
                        .col-sm-12
                                h4.lead.text-muted
                                    | {{'proyecto.verProyecto.campos.beneficiosIntangible' | translate}}
                                span
                                    | {{proyecto.beneficioIntangible}}
        fieldset
            .panel.panel-info
                .panel-heading
                    h4 {{'proyecto.verProyecto.equipoProyecto' | translate}}
                .panel-body
                    fieldset
                        .col.todo-item-list
                            .lead.text-muted.text-center(ng-show='!proyecto.equipoProyecto.length') Sin seleccionar Equipo
                            a.list-group-item(ng-repeat='item in proyecto.equipoProyecto')
                                .media-box
                                    .media-box-body.clearfix
                                        small.pull-right(ng-show='item.estadoAutorizacion==0').text-warning.m0 Pendiente
                                        small.pull-right(ng-show='item.estadoAutorizacion==1').text-sucess.m0 Aprobado
                                        small.pull-right(ng-show='item.estadoAutorizacion==2').text-danger.m0 Rechazado
                                        strong.media-box-heading.text-primary
                                            span.circle.circle-success.circle-lg.text-left
                                            | {{item.nombre}}
                                        p.mb-sm: small {{item.cargo.nombre}}
                                         |(HH): {{item.hh}}
        fieldset(ng-show='proyecto.idEtapaProyecto>2')
            .panel.panel-info
                .panel-heading
                    h4 {{'proyecto.preEvaluacion.entregables' | translate}}
                .panel-body
                    fieldset
                        .col.todo-item-list
                            .lead.text-muted.text-center(ng-show='!proyecto.entregableProyecto.length') Sin agregar Entregable
                            a.list-group-item(ng-repeat='item in proyecto.entregableProyecto',href='/api/adjunto/proyecto/obtenerarchivo/{{item.urlArchivo}}')
                                .media-box
                                    .media-box-body.clearfix
                                        small.pull-right(ng-show='item.estado==0').text-warning.m0 Pendiente
                                        small.pull-right(ng-show='item.estado==1').text-sucess.m0
                                          | Entregado
                                        strong.media-box-heading.text-primary
                                            span.circle.circle-success.circle-lg.text-left
                                                | {{item.tipoEntregable.nombre}}
                                        p.mb-sm.small Semana Entrega:
                                            strong {{item.semanaEntrega }}
                                        small.pull-right Fecha Entrega {{item.fechaEstimada | date:'MM/dd/yyyy'}}


        fieldset
            .panel.panel-info
                .panel-heading
                    h4 {{'proyecto.verProyecto.adjuntos' | translate}}
                .panel-body
                    fiedset
                        table.table
                            thead
                                tr
                                    th(width='50%') {{'proyecto.verProyecto.campos.tabla.archivoNombre' | translate}}
                                    th {{'proyecto.verProyecto.campos.tabla.tipo' | translate}}
                            tbody
                                tr(ng-repeat='item in proyecto.adjunto')
                                    td
                                        strong
                                         a(href='/api/adjunto/proyecto/obtenerarchivo/{{item.urlArchivo}}'){{item.descripcion}}
                                    td {{item.tipoAdjunto.nombre}}

        fieldset(ng-show='proyecto.idEtapaProyecto==4')
            .panel.panel-info
                .panel-heading
                    h4 {{'proyecto.verProyecto.avance' | translate}}
                .panel-body
                    fieldset
                        .col-sm-4
                            h4.lead.text-muted
                                | {{'proyecto.verProyecto.campos.salud' | translate}}
                            span
                                |   {{proyecto.saludProyecto.nombre}}
                        .col-sm-4
                            h4.lead.text-muted
                                | {{'proyecto.verProyecto.campos.avance' | translate}}
                            span
                                |    {{proyecto.avance}}
                        .col-sm-4
                            h4.lead.text-muted
                                | {{'proyecto.verProyecto.campos.fechaUltimoInforme' | translate}}
                            span
                                |    {{proyecto.fechaUltimoInforme | date:'MM/dd/yyyy'}}
                    fieldset
                        .col-sm-12
                            h4.lead.text-muted
                                | {{'proyecto.verProyecto.campos.comentarioAvance' | translate}}
                            span
                                | {{proyecto.tProyecto.comentarioAvance}}

        fieldset
            .pull-right
                .form-group
                    .col-lg-offset-2.col-lg-2
                        a.btn.btn-warning(ng-click='aprobarProyecto(2)',ng-show='permitirAprobacion==true') {{'proyecto.verProyecto.botones.rechazar' | translate}}
            .pull-right
                .form-group
                    .col-lg-offset-2.col-lg-2
                        a.btn.btn-success(ng-click='aprobarProyecto(1)',ng-show='permitirAprobacion==true') {{'proyecto.verProyecto.botones.aprobar' | translate}}
    .panel-footer
      .row
        .pull-right
            a.btn.btn-default( ng-click='cargarHome()',ng-show='cargarPrivado==true')
                em.icon-home.fa-x Home

