input.form-control(type='text', ng-model='model', placeholder='Ingrese Nombre o cargo..', ng-keypress='autocomplete(model)', ng-keydown='selected=false')
br
.items(ng-hide='!items.length || selected || !model.length')
    .item(ng-repeat='item in items', ng-click='handleSelection(item.fields.email,item.fields.nombre)', style='cursor:pointer', ng-class='{active:isCurrent($index)}', ng-mouseenter='setCurrent($index)')
      span.title {{item.fields.nombre[0]}}
  

        