h3 
  .pull-right
    .btn-group(dropdown='', is-open='language.listIsOpen')
      button.btn.btn-default(type='button', dropdown-toggle="")
        | {{language.selected}}
        span.caret
      ul.dropdown-menu.dropdown-menu-right.animated.fadeInUpShort(role='menu')
        li(ng-repeat='(localeId, langName) in language.available')
          a(ng-click='language.set(localeId, $event)') {{langName}}
  | {{'administracion.codigoTermino.titulo' | translate}}
  small {{'administracion.codigoTermino.descripcionTitulo' | translate}}
.row
 .col-sm-4
  .panel.panel-default
    .panel-heading 
     .pull-right
       toaster-container(toaster-options="{'position-class': 'toast-top-right', 'close-button':true}")
       a.btn.btn-info(ng-click='nuevoRegistro()') +
    .panel-body
      form(role='form',ng-submit='actualizarRegistro()')
       .form-group
         label {{'administracion.codigoTermino.campos.nombre' | translate}}
         input.form-control(type='text',ng-model='codigoTermino.nombre', required,data-parsley-error-message="{{'administracion.codigoTermino.campos.nombreValidacion' | translate}}",placeholder="{{'administracion.codigoTermino.campos.nombreAyuda' | translate}}")
       .form-group
         label {{'administracion.codigoTermino.campos.estado' | translate}}
         select.form-control(ng-model="codigoTermino.estado",ng-options="item.id as item.nombre  for item in listas.estado") 
       button.btn.btn-sm.btn-default(ng-show='habilitarGrabar==0',type='submit') {{'administracion.codigoTermino.botones.actualizar' | translate}}
       button.btn.btn-sm.btn-info(ng-show='habilitarGrabar==1',type='button',ng-click='crearRegistro()') {{'administracion.codigoTermino.botones.nuevo' | translate}} 
 .col-sm-8
    .panel.panel-default
      .panel-heading
        | {{'home.keyUser.tabla.titulo' | translate}}
        
        // START table-responsive
        .table-responsive
          table#table-ext-3.table.table-striped.table-bordered.table-hover
            thead
              tr
                th {{'administracion.codigoTermino.tabla.id' | translate}}
                th {{'administracion.codigoTermino.tabla.nombre' | translate}}
                th {{'administracion.codigoTermino.tabla.estado' | translate}}     
                th {{'administracion.codigoTermino.tabla.fechaCreacion' | translate}}
                th {{'administracion.codigoTermino.tabla.acciones' | translate}}
            tbody
              tr(ng-repeat='item in data | filter:miFiltro')
                td {{item.CodigoTerminoId}}
                td {{item.Nombre}}
                td {{item.EsActivo}}
                td {{item.FechaCreacion | date:'MM/dd/yyyy h:mma'}}
                td  
                  a.btn.btn-primary(ng-click='seleccionar(item)')
                    i.fa.fa-pencil-square-o                 

        // END table-responsive